@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #040d12;
}

li {
  cursor: pointer;
  list-style: none;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: "";
  color: #2a68ff;
  height: 4px;
  width: 100%;
  background: #2a68ff;
  bottom: -10px;
  right: 0;
  border-radius: 15px;
}

.icon {
  cursor: pointer;
}
